<div class="p-6 bg-gray-300">
  <h2 mat-dialog-title class="text-xl font-bold mb-4">
    {{ mode === 'create' ? 'Crear Orden' : 'Actualizar Orden' }}
  </h2>
  <mat-dialog-content class="space-y-6">
    <form [formGroup]="orderForm">
      <div formArrayName="details" class="space-y-2">
        <table class="w-full border-collapse bg-white rounded-lg shadow-lg">
          <thead>
            <tr class="bg-gray-200">
              <th class="p-3 text-left text-sm font-semibold text-gray-700">Producto</th>
              <th class="p-3 text-left text-sm font-semibold text-gray-700">Cantidad</th>
              <th class="p-3 text-left text-sm font-semibold text-gray-700">Subtotal</th>
              <th class="p-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details.controls; let i=index" [formGroupName]="i" class="bg-gray-50">
              <td class="p-3">
                <mat-form-field class="w-full">
                  <mat-select formControlName="productId" placeholder="Seleccione un producto">
                    <mat-option *ngFor="let product of products" [value]="product.id">
                      {{ product.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="detail.get('productId')?.hasError('required')">
                    El producto es requerido
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-full">
                  <mat-label>cantidad</mat-label>
                  <input matInput type="number" formControlName="quantity" min="1" placeholder="Digite la cantidad">
                  <mat-error *ngIf="detail.get('quantity')?.hasError('required')">
                    La cantidad es requerida
                  </mat-error>
                  <mat-error *ngIf="detail.get('quantity')?.hasError('min')">
                    La cantidad minima es 1
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="p-3">
                {{ getSubtotal(i) | currency }}
              </td>
              <td class="p-3">
                <button mat-icon-button (click)="removeDetail(i)" class="text-gray-500 hover:text-red-600">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        mat-stroked-button
        type="button"
        class="mt-4 text-gray-700 border-gray-300 hover:bg-gray-200 flex items-center !bg-white"
        (click)="addDetail()"
      >
        <mat-icon class="mr-2">add_circle</mat-icon>
        Agregar nuevo producto
      </button>

      <div class="mt-6 flex justify-end">
        <div class="bg-white p-4 rounded-lg shadow-sm">
          <h3 class="text-sm font-semibold text-gray-700">Valor TOTAL</h3>
          <div class="p-2 bg-gray-50 rounded border-2 border-purple-500 font-bold">
            {{ total | currency }}
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-end space-x-4 mt-6">
    <button mat-stroked-button (click)="close()" class="text-gray-700 border-gray-300 hover:bg-gray-200 !bg-white">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="orderForm.invalid"
      (click)="save()"
      class="bg-purple-600 hover:bg-purple-700 text-white"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</div>
