<div class="p-6 bg-gray-300">
  <mat-card class="bg-white rounded-lg shadow-lg">
    <mat-card-header class="p-6 bg-gray-50">
      <mat-card-title class="text-xl font-bold text-gray-700">Detalle de la orden</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-6">
      <div class="mb-6 mt-4">
        <p class="text-sm text-gray-700"><strong>ID:</strong> {{ order?.id }}</p>
        <p class="text-sm text-gray-700"><strong>Total:</strong> {{ order?.total | currency }}</p>
        <p class="text-sm text-gray-700"><strong>Fecha:</strong> {{ order?.created_at | date }}</p>
      </div>
      <div class="overflow-x-auto rounded-lg shadow-md bg-white">
        <table mat-table [dataSource]="dataSource" class="w-full">
          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700 bg-gray-200">Producto</th>
            <td mat-cell *matCellDef="let detail" class="p-3 text-sm text-gray-900">{{ detail.product.name }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700 bg-gray-200">Cantidad</th>
            <td mat-cell *matCellDef="let detail" class="p-3 text-sm text-gray-900">{{ detail.quantity }}</td>
          </ng-container>
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700 bg-gray-200">Subtotal</th>
            <td mat-cell *matCellDef="let detail" class="p-3 text-sm text-gray-900">{{ detail.subtotal | currency }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="detailColumns" class="bg-gray-200"></tr>
          <tr mat-row *matRowDef="let row; columns: detailColumns;" class="hover:bg-gray-50 transition duration-300 ease-in-out"></tr>
        </table>
      </div>
    </mat-card-content>

  </mat-card>
  <mat-card-actions class="p-6 flex justify-end">
    <button mat-stroked-button (click)="close()" class="text-gray-700 border-gray-300 hover:bg-gray-200 !bg-white">
      Cerrar
    </button>
  </mat-card-actions>
</div>
